<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>
    <link th:replace="fragments/header.html :: head/link"/>
    <script th:replace="fragments/header.html :: head/script"> </script>
</head>

<body>
    <header th:insert="fragments/header.html :: header"> </header>

    <main role="main" class="container">

        <div class="starter-template">
            <h1>Spring Boot Web Thymeleaf Example</h1>
            <!-- Product -->
            <div th:insert="fragments/products.html :: search"> </div>
            <!-- Scenario -->
            <div th:insert="fragments/scenariobuilder.html :: search"> </div>
        </div>
    </main>
<!-- /.container -->

</body>
</html>