.text-field.error {
    -fx-border-color: red;
    -fx-border-width: 2px;
}


.ask-text {
    -fx-text-fill: red;
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.bid-text {
    -fx-text-fill: green;
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
    -fx-alignment: center;
}